<div>
  <h2>{{student.name}}</h2>
  <div>
    <form>
      <div><label for="name">Name:</label> <input type="text" ng-model="student.name"/></div>
      <div><a ng-click="update()" href="">Update</a> <a ng-click="delete()" href="">Delete</a></div>
    </form>
  </div>
  <h3>Courses</h3>
  <div>
    <table>
      <thead>
        <tr>
          <th>Course</th>
          <th>Avg. grade</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="course in student.courses">
          <td>{{ course.course.name }}</td>
          <td>{{ course.courseGrade }}</td>
          <td><a ng-click="removeCourse(course.course)" href="">Delete</a></td>
        </tr>
        <tr>
          <td>
            <select ng-model="newCourse" ng-options="course.name for course in filteredCourses()"></select>
          </td>
          <td><a ng-click="addCourse(newCourse)" href="">Add course</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
